@page
@model client_desktop.Pages.Circles

@{
    Layout = "_LayoutApp";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Versine</title>
    </head>
<body>
<div>
    <h1>My Circles:</h1>
    
</div>
</body>
</html>