@page
@model client_desktop.Pages.Circles

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Circles";
    dynamic Circles = (dynamic) StorageManager.storage.Get("circles");
}

<nav class="navbar navvvv" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
    <a class="navbar-item button"  href="/App">
     <i class="fas fa-arrow-left"></i>
    </a>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    
    <div class="navbar-start scrooll" id="guilds">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="addaguildbutton" href="/WritePost" class="button is-primary">
            <strong><i class="fas fa-plus-square"></i></strong>
          </a>

          <a id="circles" href="/Circles" class="button">
            <i class="fa-solid fa-circle-nodes"></i>
          </a>

          <a id="profilesearch" href="/Messages" class="button">
             <i class="fa-solid fa-message"></i>
          </a>
          
          <a id="timeline" href="/Inbox" class="button">
            <i class="fas fa-inbox"></i>
          </a>

          <a id="messages" href="/Search" class="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<div class="container">

  <form class="text-center " asp-action="form" method="post">
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input" type="text" placeholder="Circle Name" aria-describedby="circlename" asp-for="CircleName">
        </div>

        <div class="control">
          <button class="button is-primary">
            <i class="fas fa-plus-square"></i>&nbsp;Create Circle
          </button>
        </div>
      </div>
  </form>

  @if (Circles.Count > 0)
  {
    <h1 class="title">Your Circles: </h1>
    <br>
  }
  else
  {
    <h2 class="title">You have no circles</h2>
    <h2 class="subtitle">You can create a circle and add some friends in it</h2>
    <br>
  }

  @foreach(dynamic Circle in Circles)
  {
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          @Circle.name 
        </p>
      </header>
      <div class="card-content">
        <span class="tag is-info is-light is-medium">@Circle.users.Count</span>&nbsp; members 
        <br>
        <br>
        <div class="buttons">
          <a href="/ManageCircle?name=@Circle.name">
            <button type="submit" class="btn btn-info">
              <i class="fa-solid fa-sliders"></i>&nbsp;Manage Circle 
            </button>
          </a>
        </div>
      </div>
    </div>
    <br>
  }
</div>
