@page
@model FriendsModel
@{
    ViewData["Title"] = "Friends";
    Newtonsoft.Json.Linq.JArray Friends = (Newtonsoft.Json.Linq.JArray) StorageManager.storage.Get("fullFriends");
}

<nav class="navbar navvvv" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
    <a class="navbar-item button"  href="/App">
     <i class="fas fa-arrow-left"></i>
    </a>
    </div>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    
    <div class="navbar-start scrooll" id="guilds">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="addaguildbutton" href="/WritePost" class="button is-primary">
            <strong><i class="fas fa-plus-square"></i></strong>
          </a>

          <a id="circles" href="/Circles" class="button">
            <i class="fa-solid fa-circle-nodes"></i>
          </a>

          <a id="profilesearch" href="/Friends" class="button">
            <i class="fa-solid fa-user-group"></i>
          </a>

          <a id="timeline" href="/Inbox" class="button">
            <i class="fas fa-inbox"></i>
          </a>

          <a id="messages" href="/Search" class="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>
<div class="container">
<p class="title is-4">Your friend(s)</p>
      @if (Friends.Count > 0)
      {
        @foreach (dynamic friend in Friends)
        {
          <div class="card">
            <div class="card-content">
              <div class="media">

                <div class="media-left">
                  <figure class="image is-48x48">
                    <img class="is-rounded" src="@friend.avatar" alt="Avatar">
                  </figure>
                </div>

                <div class="media-content">
                    <p class="title is-6">@friend.username</p>
                    <p class="subtitle is-6">
                      <a href="/Profile?username=@friend.username">
                        @friend.username
                      </a>
                    </p>
                </div>

              </div>
                <div class="buttons">
                  <form method="POST">
                    <button type="submit" class="btn btn-warning" asp-route-data="@friend.id" asp-page-handler="Unfriend">
                      Unfriend
                    </button>
                  </form>
                </div>
            </div>
          </div>
          <br>
        }
      }
      else
      {
        <h2 class="subtitle">You have no friends yet</h2>
      }
</div>