@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<section class="hero is-fullheight is-primary is-bold">
    <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="images/Versine.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <center><img class="image is-128x128 is-centered centered" src="images/LogoVersine.png">
    </center>
        <p class="title is-1">
          Versine
        </p>
<p class="subtitle is-3">Don't mind sharing</p>
   <div class="buttons is-centered">
  <a asp-area="" asp-page="/Door">
    <button class="button is-primary">Get Started</button>
  </a>

  
    </div>
      </div>
</section>

</html>
