@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1>Login to your Versine account</h1>
    
    
   <form class="text-center" asp-action="form" method="post">
   
       <p class="h4 mb-4">Login</p>
   
       <input type="text" id="username" class="form-control mb-4" placeholder="Username" asp-for="Username">
   
       <input type="password" id="password" class="form-control mb-4" placeholder="Password" asp-for="Password">
   
   
       <button class="btn btn-info btn-block my-4" type="submit">Login</button>
   
       <p>Doesn't have a Versine account?
           <a href="/Register">Register</a>
       </p>
   
   </form> 
</div>
