@page 
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="images/VersineBlack.png" height="60px">
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Home
        </a>

      
       
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container is-fullhd">
    <div class="notification">
       <p class="title is-1">
          <img class="image is-128x128" src="images/VersineLogoBlack.png">
       </p>

        <p class="subtitle is-3">Create a Versine account:</p>
    </div>
  </div>
      <br>

  <div class="container">
    <div class="section">

      <form class="text-center " asp-action="form" method="post">
         <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input type="text" id="username" class="input" placeholder="Username" aria-describedby="username" asp-for="Username">
            <span class="icon is-small is-left">
             <i class="fas fa-user-alt"></i>
            </span>
            
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input type="password" id="password" class="input" placeholder="Password" aria-describedby="password" asp-for="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          <small id="passwordHelpBlock" class="form-text text-muted mb-4">
              At least 8 characters and 1 digit
          </small>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input type="text" id="ticket" class="input" placeholder="Invitation Ticket" aria-describedby="ticket" asp-for="Ticket">
            <span class="icon is-small is-left">
              <i class="fas fa-ticket"></i>
            </span>
          <small id="ticketHelpBlock" class="form-text text-muted mb-4">
              Your invitation ticket given by a peer
          </small>
          <p>
        </div>


        <div class="field">
          <p class="control">
            <button type="sumbit" class="button is-success">
              Register
            </button>
          <hr>
          By clicking
              <em>Register</em> you agree to our
              <a href="/Privacy">terms of service</a>

          </p>
        </div>


      </form>

   </div>
  </div>
