@page
@model client_desktop.Pages.Settings

@{
    Layout = "_LayoutApp";
    ViewData["Title"] = "Settings";
    string Username = (string) StorageManager.storage.Get("username");
    string Avatar = (string) StorageManager.storage.Get("avatar");
    string Bio = (string) StorageManager.storage.Get("bio");
    string Banner = (string) StorageManager.storage.Get("banner");
    string Color = (string) StorageManager.storage.Get("color");
    string Id = (string) StorageManager.storage.Get("id");
    string Ticket = (string) StorageManager.storage.Get("ticket");
    string TicketCount = (string) StorageManager.storage.Get("ticketCount");

}

<nav class="navbar navvvv" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
     <div class="navbar-item">
    <a class="navbar-item button"  href="/App">
     <i class="fas fa-arrow-left"></i>
    </a>
    </div>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    
    <div class="navbar-start scrooll" id="guilds">
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="addaguildbutton" href="/WritePost" class="button is-primary">
            <strong><i class="fas fa-plus-square"></i></strong>
          </a>

          <a id="circles" href="/Circles" class="button">
            <i class="fa-solid fa-circle-nodes"></i>
          </a>

          <a id="profilesearch" href="/Friends" class="button">
            <i class="fa-solid fa-user-group"></i>
          </a>

          <a id="timeline" href="/Inbox" class="button">
            <i class="fas fa-inbox"></i>
          </a>

          <a id="messages" href="/Search" class="button">
            <i class="fa-solid fa-magnifying-glass"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<br>

<div class="container">

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        My Ticket
      </p>
    </header>

    <div class="card-content">
      <div class="media-content">
          <p class="title is-4">
            <span class="tag is-primary is-light is-medium">
              @Ticket
            </span>
            </p>
          <p class="subtitle is-6">
            <span class="tag is-info is-light">@TicketCount</span>&nbsp;uses left
          </p>
      </div>
    </div>
  </div>

  <br>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Settings
      </p>
    </header>

    <div class="card-content">

      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img class="is-rounded" src="@Avatar" alt="Avatar">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">@Username</p>
          <p class="subtitle is-6"><a href="#">@Username</a></p>
        </div>
      </div>
      
       <div class="buttons">
        
        <a href="/Profile?username=@Username">
          <button type="submit" class="btn btn-info">
            <i class="fa-solid fa-user"></i>&nbsp;See My Profile
          </button>
        </a>
        &nbsp;
        <a href="/EditUser">
          <button type="submit" class="btn btn-info">
           <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit My Profile
          </button>
        </a>
        &nbsp;
        <form method="POST">
          <button type="submit" class="btn btn-dark" asp-route-data="foo" asp-page-handler="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;Logout
          </button>
        </form>
       </div>

    </div>
  </div>
  <br>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Danger Zone
      </p>
    </header>
    <div class="card-content">
       <div class="buttons">
        <a href="/DeleteUser">
          <button type="submit" class="btn btn-danger" asp-route-data="foo" asp-page-handler="Delete">
            <i class="fa-solid fa-delete-left"></i> Delete My Account
          </button>
        </a>
       </div>
    </div>
  </div>

</div>