@page
@model client_desktop.Pages.Timeline

@{
    Layout = "_LayoutApp";
}

<!DOCTYPE html>

<html>
    <head>
        <title>Versine</title>
    </head>
<body>
<div>
    <h1>Timeline:</h1>
</div>
</body>
</html>